{% extends "base.html" %}
{% block title %}Flask application template{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Data entry forms</h1>
</div>

<h3>TODO, write some generic forms.</h3>

<p>
These links won't work until you write the code for them in templates/ and main/controllers.py
You will just get a 404 error page.
</p>

<p>
There's stale code left over from another project in main/forms.py but it's not linked in yet.
</p>

<p>
    <a href="/form1">form 1</a><br />
    <a href="/form2">form 2</a>
</p>

{% endblock %}
